
@font-face {
    src: url(../web_project_homeland/vendor/web/Inter-Black.woff2) format("woff2");
    font-family: "Inter"; 
    font-weight: black;
    font-style: normal;
}

@font-face {
    src: url(../web_project_homeland/vendor/fuentes/Inter-BlackItalic.woff2) format("woff2");
    font-family: "Inter"; 
    font-weight: black;
    font-style: italic;
}

@font-face {
    src: url(../web_project_homeland/vendor/fuentes/Inter-Bold.woff2) format("woff2");
    font-family: "Inter"; 
    font-weight: bold;
    font-style: normal;
}


@font-face {
    src: url(../web_project_homeland/vendor/fuentes/Inter-BoldItalic.woff2) format("woff2");
    font-family: "Inter"; 
    font-weight: bold;
    font-style: italic;
}



body {
    
}

.page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #2A2C2F;
    margin: 0 auto;

}

    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    padding: 30px 80px 40px;
    position: relative;
    

.header {
    
    
    

    

}

.header__logo {
    width: 270px;
    height: 70px;
    top: 34px;
    left: 505px;
    text-align: center;


}

.lead {
    width: 984px;
    height: 983px;
    top: 194px;
    left: 148px;
}

.lead__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
   
    
}

.lead__subtitle {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;


}

.lead__image {
    width: 984px;
    height: 615px;
    top: 562px;
    left: 148px;

}

.intro {


}

.intro__title {
width: 1017px;
height: 116px;
top: 1269px;
left: 148px;
color: #FFFFFF;



}

.intro__subtitle {
    width: 722px;
    height: 136px;
    top: 1425px;
    left: 148px;
    color: #FFFFFF;
    
}

.intro__description {
    width: 720px;
    height: 182px;
    top: 1603px;
    left: 148px;
    color: #FFFFFF;

}

.photo-grid {
    width: 1184px;
    height: 442px;
    top: 1877px;
    left: 48px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;


}

.photo-grid__item {

}

.places__cards {

}

.card {

}

.card__title {
    color: #FFFFFF;

}

.card__image {

}

.card__heading {
    color: #AAAAAA;

}


.card__subtitle {
    color: #FFFFFF;

    
}

.card__content {
    color: #FFFFFF;


}

.form {


}

.form__button {
    background-color: #0278FE;
    color: #FFFFFF;
    border-radius: 4px;
    width: Hug (355px)
    height: Hug (48px)
    top: 3119px;
    left: 148px;
    padding: 13px, 20px, 13px, 20px;
    gap: 10px;
    


}

