.lead { 
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}


.lead__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    max-width: 793px;
    margin: auto auto 32px auto;
    
    
}


.lead__subtitle {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    max-width: 720px;
    margin: auto auto 64px auto;
    
    
}
  

.lead__image {
    max-width: 100%;
    margin: auto;
    
    
}

@media screen and (min-width: 320px) and (max-width: 768px) {

    .lead__title {
        font-size: 96px;
        margin-bottom: 60px;
    }

    .lead__subtitle {
        margin-bottom: 40px;
        width: 720px;
    }


    .lead__image {
        width: 100%;
        
    }

}


@media screen and (max-width: 720px) {
    

    .lead__title {
        margin-bottom: 60px;
        font-size: 40px;
       
    }

    .lead__subtitle {
        font-size: 16px;
        width: 288px;
        margin-bottom: auto 16px 40px 16px;
    }

    .lead__image {
        width: 100%;
       
    }
}